
@{
    ViewBag.Title = "index";
}

<h2>My Account</h2>
<ul class="nav nav-tabs">
    <li role="presentation" class="active"><a href="#">Benefits</a></li>
    <li role="presentation"><a href="#">Order History</a></li>
    <li role="presentation"><a href="#">Contact Info</a></li>
</ul>

